body {
  margin:0;
  padding:0;
  width:600px;
  height: 600px;
}

.App-container {
  position: absolute;
  left: 0;
  top: 0;
  margin:0;
  padding:0;
  width:600px;
  height: 600px;
}

.App {
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 80px 40px 1fr 20px;
  width:100vw;
  height:100vh;
}

.App-header {
  text-align: center;
  display: grid;
  grid-row: 1;
  grid-column: 1;
  background-color: #282c34;
  font-size: 1.6em;
  color: white;
  padding: 0;
  margin:0;
}

.App-subheader {
  display: grid;
  grid-row: 2;
  grid-column: 1;
}

.App-body {
  display: grid;
  grid-row: 3;
  grid-column: 1;
  padding: 1em 0em 1em 0em;
  width:100%;
  overflow: hidden;
}

.App-footer {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-row: 4;
  grid-column: 1;
  font-size: 12px;
  padding:0px 12px;
}

.App-footer span {
  align-self: center;
}

.App-footer span a {
  color: white;
  text-decoration: none;
}

.App-title {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    align-self: center;
}

.App-logo {
  pointer-events: none;
}

.Logo-image {
}

.BasketIcon {
  display: inline-block;
  float: right;
}

.BasketIconImage {
}

.ButtonOpenManifest {
  border-radius:8px;
  background-color: rgb(0,0,0);
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.ButtonAddToBasket {
  border-radius:8px;
  background-color: #336;
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.ButtonCopyURL {
  border-radius:8px;
  background-color: #363;
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.qualityChip {
  width:12px;
}

.version {
  display: block;
  font-size: 8px;
  position: absolute;
  top:4px;
  right:4px;
}

button {
  color: #888;
  background-color: #ddd;
  font-weight: bold;
  font-size: 8pt;
  display:inline-block;
  padding: 4px;
  margin:3px 3px 0px 0px;
  border-radius: 4px;
  border:1px solid #ccc;
  clear: none;
}
