/*

In this file:

1. layouts
2. certain items
3. generic elements
4. material UI overrides

*/

:root {
--d2-red: #ff00ffff;
--d2-green: #00ff00ff;
--d2-blue: #00ffffff;
--d2-yellow: #ffff00ff;
}

/* layout */

.PopupBody {
  margin:0;
  padding:0;
  width:600px;
  height: 600px;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.OptionsBody {
  margin:0;
  padding:0;
  font-size: 14px;
}

.App-container {
  position: absolute;
  left: 0;
  top: 0;
  margin:0;
  padding:0;
  width:603px;
  height: 603px;
}

.App {
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 120px 0px 1fr 20px;
  width:100vw;
  height:100vh;
}

.App-header {
  text-align: right;
  grid-row: 1;
  grid-column: 1;
  background-color: #ccc;
  color: white;
  padding:20px;
  margin:0;
}

.App-subheader {
  grid-row: 2;
  grid-column: 1;
  padding: 0 24px;
}

.App-body {
  grid-row: 3;
  grid-column: 1;
  padding: 0;
  width:100%;
  overflow: scroll;
}

.App-footer {
  background-color: #222;
  color: white;
  display: grid;
  grid-row: 4;
  grid-column: 1;
  font-size: 12px;
  padding:0 24px;
}

.App-footer span {
  align-self: center;
}

.App-footer span a {
  color: white;
  text-decoration: none;
}

/* certain items */

.App-title {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    align-self: center;
}

.App-logo {
  pointer-events: none;
}

.Logo-image {
  height:20pt;
  margin-bottom:10pt;
}

.BasketIcon {
  position: absolute;
  right: 12px;
  top: 94px;
}

.BasketIconImage {
  width:20pt;
}

.ButtonOpenManifest {
  border-radius:8px;
  background-color: #606060;
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
  margin: 2px 2px 0px 0px ;
  display:inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 8pt;
}

.ButtonAddToBasket {
  border-radius:8px;
  background-color: var(--d2-green);
  color: black;
  border: none;
  padding: 4px 8px 4px 8px;
}

.ButtonClearBasket,
.ButtonRemoveFromBasket {
  border-radius:8px;
  background-color: var(--d2-red);
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.ButtonCopyBasket,
.ButtonCopyURL {
  border-radius:8px;
  background-color: var(--d2-blue);
  color: black;
  border: none;
  padding: 4px 8px 4px 8px;
}

.Quality-Chip {
  display:inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 8pt;
}

.iconSize {
  width:16px;
}

.version {
  display: block;
  font-size: 8px;
  position: absolute;
  top:4px;
  right:4px;
  color: black;
}

.ListItem {
  width:100%;
  padding:0;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px 1fr;
  margin-bottom: 12px;
}

.ListItem-image {
  grid-row: 1;
  grid-column: 1;
  width:100px;
  background-color: #ccc;
  border:0px solid #ccc;
  display: grid;
}

.ListItem-image * {
  max-height:100px;
  max-width:100px;
  align-self: center;
  margin: auto;
}

.ListItem-info {
  padding-left: 12px;
  grid-row: 1;
  grid-column: 2;
  height:100px;
  line-height: 22px;
}

#Options-Container {
  width:600px;
  margin:auto;
}

.optionsLogoImage {
  width:200px;
  border:none;
}

.optionsHeader {
  padding: 40px 0;
}

.optionsEntry {
  width:100%;
  padding: 12px 0;
}

.optionsFloatRight {
  margin-left: auto;
}

.CollectionImage {
  margin: auto;
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 12px;
  color: white;
}

/* generic elements */

button {
  color: #888;
  background-color: #ddd;
  font-weight: bold;
  font-size: 8pt;
  display:inline-block;
  padding: 4px;
  margin:3px 3px 0px 0px;
  border-radius: 4px;
  border:1px solid #ccc;
  clear: none;
}

/* material UI overrides */

.MuiBadge-badge {
  background-color: #808080;
  color:white;
}

.MuiChip-sizeSmall {
  height:16px !important;
  margin-right:2px;
}

.MuiChip-sizeSmall .MuiChip-labelSmall {
  font-size: 6pt;
  padding:2px 4px;
  min-width:8px;
  text-align: center;
}

.truncated {
    display: block;
    white-space: nowrap; /* forces text to single line */
    overflow: hidden;
    text-overflow: ellipsis;
    width:380px;
}

.Quality-Chip {
  vertical-align: middle;
  margin:0;
  margin-right:4px;
}
