/*

In this file:

1. layouts
2. certain items
3. generic elements
4. material UI overrides

*/


/* layout */

body {
  margin:0;
  padding:0;
  width:600px;
  height: 600px;
  font-size: 14px;
}

.App-container {
  position: absolute;
  left: 0;
  top: 0;
  margin:0;
  padding:0;
  width:600px;
  height: 600px;
}

.App {
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 80px 0px 1fr 20px;
  width:100vw;
  height:100vh;
}

.App-header {
  text-align: center;
  display: grid;
  grid-row: 1;
  grid-column: 1;
  background-color: #222;
  font-size: 1.6em;
  color: white;
  padding: 0;
  margin:0;
}

.App-subheader {
  display: grid;
  grid-row: 2;
  grid-column: 1;
  padding: 2px 12px;
}

.App-body {
  display: grid;
  grid-row: 3;
  grid-column: 1;
  padding: 1em 0em 1em 0em;
  width:100%;
  overflow: hidden;
}

.App-footer {
  background-color: #222;
  color: white;
  display: grid;
  grid-row: 4;
  grid-column: 1;
  font-size: 12px;
  padding:0px 12px;
}

.App-footer span {
  align-self: center;
}

.App-footer span a {
  color: white;
  text-decoration: none;
}

/* certain items */

.App-title {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    align-self: center;
}

.App-logo {
  pointer-events: none;
}

.Logo-image {
  height:20pt;
  margin-bottom:10pt;
}

.BasketIcon {
  position: absolute;
  right: 12px;
  top: 94px;
}

.BasketIconImage {
  width:20pt;
}

.ButtonOpenManifest {
  border-radius:8px;
  background-color: rgb(0,0,0);
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.ButtonAddToBasket {
  border-radius:8px;
  background-color: rgb(94,114,77);
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.ButtonRemoveFromBasket {
  border-radius:8px;
  background-color: rgb(255,0,0);
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.ButtonCopyURL {
  border-radius:8px;
  background-color: rgb(158,132,76);
  color: white;
  border: none;
  padding: 4px 8px 4px 8px;
}

.iconSize {
  width:16px;
}

.version {
  display: block;
  font-size: 8px;
  position: absolute;
  top:4px;
  right:4px;
}

.ListItem {
  width:100%;
  padding:0;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px 1fr;
  margin-bottom: 12px;
}

.ListItem-image {
  grid-row: 1;
  grid-column: 1;
  width:100px;
  background-color: #eee;
  border:0px solid #ccc;
  display: grid;
}

.ListItem-image * {
  max-height:100px;
  max-width:100px;
  align-self: center;
  margin: auto;
}

.ListItem-info {
  padding-left: 12px;
  grid-row: 1;
  grid-column: 2;
  height:100px;
}

/* generic elements */

button {
  color: #888;
  background-color: #ddd;
  font-weight: bold;
  font-size: 8pt;
  display:inline-block;
  padding: 4px;
  margin:3px 3px 0px 0px;
  border-radius: 4px;
  border:1px solid #ccc;
  clear: none;
}

/* material UI overrides */

.MuiBadge-badge {
  background-color: #4d6b8c;
  color:white;
}
